<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <style>
            body{
                background-color: #080808;
                color: #ffff;
            }
        </style>
    </head>
    <body>
    