<%- include('partials/header.ejs')%>
    </h1>If you want to contact us then use below information</h1>
    <h3>EmailID: dsuthar9@my.centennical.ca</h3>
    <h3>Phone No: +1 (905) 353 5074</h3>
    <h3>Otherwise you can use our links to which are mentioned on home page.</h3>

<%- include('partials/header.ejs')%>